In [5]:
import pandas as pd

In [6]:
sales = {
  "user_id" : ["KM37", "PR19", "YU88"],
  "order_value" : [197.75, 208.21, 134.99]
}

In [11]:
sales_df = pd.DataFrame(sales)
sales_df

  user_id  order_value
0    KM37       197.75
1    PR19       208.21
2    YU88       134.99